#ul_top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
#ul_top > li {
    float: left;
  }
  
#ul_top li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
#ul_top li > a:hover {
    background-color: #111;
  }

#bilde-av-meg {
  height: 10%;
  width: 10%;
}
div.MathiasBilde {
  float: right;
  text-align: center;
  width: 20%;
  
}

.caption {
  display: block;
}

div.MathiasBilde > img {
  height: 100%;
  width: 100%;
}
