#ul_top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(209, 6, 6);
  }
  
#ul_top > li {
    float: left;
  }
  
#ul_top li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
#ul_top li > a:hover {
    background-color: rgb(136, 106, 106);
  }

#bilde-av-meg {
  height: 10%;
  width: 10%;
}

.MathiasBilde {
  float: right;
  text-align: center;
  margin: 10px 10px; 
  max-width: 20%;
  
}

.caption {
  display: block;
}

.MathiasBilde > img {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(248, 248, 248);
}

.bilde-av-meg-mini {
  height: 2%;
  width: 2%;
}

main {
    margin: auto;
    margin-top: 2%;
    width: 75%;
    padding: 2%;
    box-shadow: 8px 8px 5px 1px darkgrey;
    background-color: white;
}

.picture {
  width: 100%;
  height: 100%;
}

#oogway {
  width: 100%;
  height: 100%;
}